<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      Authentification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="auth-container">
    <form class="auth-form">
      
      <ion-item lines="none" class="input-arrondi">
        <ion-input 
           
          type="text" 
          value=""
          placeholder="Entrez votre nom">
          
        </ion-input>
      </ion-item>

      <ion-item lines="none" class="input-arrondi ion-margin-top">
        <ion-input 
       
          type="password" 
          value="********">
        </ion-input>
      </ion-item>

      <ion-button expand="block" color="dark" class="ion-margin-top">
        Se connecter
      </ion-button>
      
    </form>
  </div>
</ion-content>